.error-message {
	color: red;
}

.result {
	word-wrap: break-word;
}

.applet-form input[type="text"] {
	padding: 0 5px;
	text-align: center;
	width: 45px;
}

.applet-form select {
	background-color: white;
}

svg {
	/*shape-rendering: crispEdges;*/
	padding: 3px;
	width: 100px;
	/* Hack for scaling svgs */
	height: 1px;
	overflow: visible;

	display: block;
	margin: auto;
}

svg.birds-eye {
	width: 90%;
}

svg rect {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}

svg rect.fragment {
	fill: grey;
}

svg rect.discard {
	fill: red;
	stroke: red;
}

svg.tile-new {
	float: left;
	margin:3px;
}

@media screen and (max-width: 479px) {
	.applet-form select, .applet-form input {
		margin: 5px 0;
	}
}