.error-message {
	color: red;
}

.result {
	word-wrap: break-word;
}

.applet-form input[type="text"] {
	padding: 0 5px;
	text-align: center;
	width: 45px;
}

.applet-form select {
	background-color: white;
}