{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
	<title>{% block title %}{% endblock %} - Alex McKenzie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'alexwebsite/style.css' %}" />
	{% block style %}{% endblock %}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>


	<link rel="icon" type="image/x-icon" href="{% static 'alexwebsite/favicon.ico' %}" />
</head>

<body>
<h1><a href="{% url 'index' %}">Alex McKenzie</a></h1>

<nav id="main-menu">
<a class="main-menu-title" href="javascript:void(0);"><img alt="Menu" src="{% static 'alexwebsite/navicon.svg' %}" /></a>
<ul>
	<li><a href="{% url 'index' %}" {% if current_page == 'index' %}class="active"{% endif %}>Home</a></li>
	<li><a href="{% url 'cv' %}" {% if current_page == 'cv' %}class="active"{% endif %}>CV</a></li>
	<li><a href="{% url 'projects:portfolio' %}" {% if current_page == 'portfolio' %}class="active"{% endif %}>Portfolio</a></li>
	<li><a href="{% url 'contact' %}" {% if current_page == 'contact' %}class="active"{% endif %}>Contact</a></li>
</ul>
</nav>

<main>
{% block main %} {% endblock %}
</main>

<footer>
	<div class="footer">
		<p>© Alex McKenzie 2016 · Built using <a href="https://www.djangoproject.com/">Django</a> · Source code <a href="https://github.com/Arrrlex/alexwebsite">here</a></p>
	</div>
</footer>

<script src="{% static 'alexwebsite/script.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>