{% extends "pages/base-pages.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block main %}
<div id="about">

<div class="about-text">
	<p>Hi!</p>
	<p>I'm a recent graduate from Oxford University looking for web development work in Berlin.</p>
	<p>I graduated in 2016 with a first-class degree in Maths and Philosophy. Since then I've been learning Django and experimenting with Haskell.</p>
	<p>If you're interested in learning more about me, please get in touch!</p>
</div>

<div class="about-photo"><img src="{% static 'pages/headshot.jpg' %}" alt="Alex McKenzie headshot"/></div>

</div>
{% endblock %}