{% extends 'alexwebsite/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />{% endblock %}

{% block main %}

<p class="breadcrumb"><a href="{% url 'portfolio' %}">&lt; Back to Portfolio</a></p>

<h2>{% block title %}A Few Simple Scripts{% endblock %}</h2>

<p>Here you can find a simple interface for a series of python scripts I wrote for practice.</p>

<p>For the Python source code, see <a href="https://github.com/Arrrlex/alexwebsite/tree/master/projects/logic">here</a>.</p>

<form class="applet-form" id="basic-form" action="{% url 'projects:basic' %}" method="get">

<input type="number" name="arg" id="arg" value="{{ arg }}">

<select name="func" id="func">
	<option value="pi" id="pi" {% if func == 'pi' %}selected{% endif %}>digits of pi</option>
	<option value="e" id="pi" {% if func == 'e' %}selected{% endif %}>digits of e</option>
	<option value="fib" id="fib" {% if func == 'fib' %}selected{% endif %}>-th term of fibonacci sequence</option>
	<option value="prime_factors" id="prime_factors" {% if func == 'prime_factors' %}selected{% endif %}>as the product of prime factors</option>
	<option value="to_binary" id="to_binary" {% if func == 'to_binary' %}selected{% endif %}>from decimal to binary</option>
	<option value="primes_list" id="primes_list" {% if func == 'primes_list' %}selected{% endif %}>first primes</option>
</select>

<input type="submit" value="Calculate" />

</form>

{% block result %}

{% if result %}
<p class="result">Result: {{ result|safe }}</p>
{% endif %}

{% endblock result %}

{% block error %}

{% if error_message %}<p class="error-message">{{ error_message }}</p>{% endif %}

{% endblock %}

{% endblock main %}

{% block script %}<script src="{% static 'projects/script.js' %}" ></script>{% endblock %}