{% extends 'alexwebsite/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block main %}

<div class="main-text">
<p> Here you can find simple interfaces for a series of python scripts I wrote as solutions to Karan Goel's Mega Projects List (you can find the list <a href="https://github.com/karan/Projects">here</a>).</p>
<ol>
	<li><a href="project-pi.html">Find Pi to the n-th digit</a></li>
	<li><a href="project-e.html">Find e to the n-th digit</a></li>
	<li><a href="project-fib.html">Fibonacci Sequence</a></li>
</ol>
</div>

{% endblock %}