{% extends 'alexwebsite/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block main %}

<div class="main-text">
<p> Here you can find simple interfaces for a series of python scripts I wrote as solutions to Karan Goel's Mega Projects List (you can find the list <a href="https://github.com/karan/Projects">here</a>).</p>
<ol>
	<li><a href="{% url 'projects:pi' %}">Find pi to the n-th digit</a></li>
	<li><a href="{% url 'projects:e' %}">Find e to the n-th digit</a></li>
	<li><a href="{% url 'projects:fibonacci' %}">Fibonacci Sequence</a></li>
<!-- 	<li><a href="{% url 'projects:prime-factors' %}">Prime Factorization</a></li>
	<li><a href="{% url 'projects:binary-converter' %}">Binary to Decimal and Back Converter</a></li> -->
</ol>
</div>

{% endblock %}