{% extends 'alexwebsite/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />{% endblock %}

{% block main %}

<p class="breadcrumb"><a href="{% url 'projects:portfolio' %}">&lt; Back to Portfolio</a></p>

<h2>{% block title %}Tiling Miniproject{% endblock %}</h2>

<p>
	This applet calculates how many square tiles to buy to tile a 
	rectangular floor, given the dimensions of the floor and the size
	of the tiles. It also tells you how to cut up the tiles to have the
	right size pieces to fill the gaps.
</p>

<form class="applet-form" id="tiling-form" action="{% url 'projects:tiling' %}" method="post">
{% csrf_token %}
<fieldset>
	<legend>Floor dimensions:</legend> 
	<input type="number" name="width" id="width" value="{{ width }}">
	<legend>&times;</legend>
	<input type="number" name="height" id="height" value="{{ height }}">
	m<sup>2</sup>
</fieldset>
<p>
	<label for="side_length">Tile size:</label>
	<input type="number" name="side_length" id="side_length" value="{{ side_length }}">
	m<sup>2</sup></legend>
</p>
<p>
	<label for="cost_per_tile">Cost per tile:</label> &euro;
	<input type="number" name="cost_per_tile" id="cost_per_tile" value="{{ cost_per_tile }}">
</p>

<input type="submit" value="Calculate" />

</form>

{% block result %}

{% if result %}
<h2>Results</h2>
<p>Total cost: &euro;{{ total_cost }}</p>
<p>Number of tiles: {{ total_tiles }}</p>
<p>Bird's eye view: (hover over grey tile fragments for dimensions)</p>
<svg viewBox = "0 0 {{ norm_width }} {{ norm_height }}" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice" style="padding-bottom: {{ scale_factor }}%" class="birds-eye" id="birds-eye">
	{% for coll in birds_eye %}
		{% for position in coll.positions %}
			<rect x="{{ position.x }}" y="{{ position.y }}" width="{{ coll.width }}" height="{{ coll.height }}" class="{{ coll.class }}" data-width="{{ coll.data_width }}" data-height="{{ coll.data_height }}"/>
		{% endfor %}
	{% endfor %}
</svg>
<div id="overlay"></div>
{% if cut_tiles %}
<p>{{ cut_tiles|length }} tiles to be cut up: (red sections are discarded; hover over white fragments
for dimensions)</p>
<ul>
	{% for tile in cut_tiles %}
		<svg class="tile-new" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice" style="padding-bottom: 100px">
			<rect x="0" y="0" width="100" height="100" style="fill:red;" />
			{% for fragment in tile %}
				<rect 
					x="{{ fragment.x }}" 
					y="{{ fragment.y }}" 
					width="{{ fragment.width }}" 
					height="{{ fragment.height }}" 
					class="{{ fragment.class }}"
					data-width="{{ fragment.data_width }}"
					data-height="{{ fragment.data_height }}"/>
			{% endfor %}
		</svg>
	</li>
	{% endfor %}
</ul>
{% endif %}


{% endif %}

{% endblock result %}

{% block error %}

{% if error_message %}<p class="error-message">{{ error_message }}</p>{% endif %}

{% endblock %}

{% endblock main %}

{% block script %}<script src="{% static 'projects/script.js' %}" ></script>{% endblock %}