/* ============= */
/* GENERAL STYLE */
/* ============= */

html {
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
	padding: 0;
	margin: 50px auto 0;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 20px;
}

h1 a {
	color: black;
}

a {
	text-decoration: none;
	color: #06f;
}
/* responsive stuff */

@media screen and (min-width: 480px) {
	body {
		width: 90%;
		max-width: 960px;
	}

	body h1 {
		font-size: 3em;
	}
}

@media screen and (max-width: 479px) {
	body {
		width: 100%;
	}
}

/* ========= */
/* MAIN MENU */
/* ========= */

#main-menu {
	text-align: center;
}

#main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: 2px 0 2px;
	border-color: #555;
}

#main-menu li {
	display: inline-block;
}

#main-menu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 18px;
	border: 0;
	margin: 2px 0 2px;
	border-style: solid;
	border-width: 0px 2px 0px;
	border-color: white;
}

/* responsive stuff */

@media screen and (max-width: 479px) {
	#main-menu {
		width: 90%;
		margin: auto;
	}

	#main-menu ul {
		display: none;
	}

	#main-menu ul li {
		display: block;
		border-bottom: 1px solid #555;
	}

	a.main-menu-title {
		display: block;
		border-width: 2px 0;
		border-color: #555;
		border-style: solid;
	}
}
#main-menu ul.responsive-menu {
	display: block;
	margin-top: 5px;
	border-width: 0;
}

.main-menu-title img {
	width: 35px;
	margin-top: 10px;
}


@media screen and (min-width:480px) {
	#main-menu {
		width: 100%;
	}
	.main-menu-title {
		display: none;
	}

	#main-menu li a:hover:not(.active) {
	    border-style: solid;
	    border-width: 0px 2px 0px;
	    border-color: #aaa;
	}

	#main-menu li a.active {
	    border-style: solid;
	    border-width: 0px 2px 0px;
	    border-color: #555
	}
}

/* ============ */
/* MAIN SECTION */
/* ============ */

main {
	margin: 30px;
	min-height:300px;
}

@media screen and (max-width:479px) {
	main {
		margin-top: 0;
	}
}

/* ====== */
/* FOOTER */
/* ====== */

footer {
    bottom: 0;
    text-align: center;
    border-top: 2px solid #555;
    height: 2em;
}

footer p {
	font-size: 12px;
	text-align: center;
	width: 100%;
}
@media screen and (min-width: 480px) {
	footer {
		width: 100%;
		float: left;
	}
	footer p {
		margin: 0.5em 0 0.5em;
	}
}
@media screen and (max-width: 479px) {
	footer {
		width: 90%;
		margin: auto;
	}
}