body {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	color: black;
	padding: 0;
	margin: 50px auto 0;
	width: 960px;
}

h1 {
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	text-transform: uppercase;
	font-size: 3em;
}
/* ========= */
/* MAIN MENU */
/* ========= */

#main-menu {
	text-align: center;
}

#main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	/*background-color: #333;*/
	border-style: solid;
	border-width: 3px 0 3px;
}

#main-menu li {
	display: inline-block;
}

#main-menu li a {
	display: block;
	/*color: white;*/
	color: black;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 18px;
	border: 0;
	margin: 2px 0 2px;
	border-style: solid;
	border-width: 0px 3px 0px;
	border-color: white;
}

#main-menu li a:hover:not(.active) {
    /*background-color: #111;*/
    border-style: solid;
    border-width: 0px 3px 0px;
    border-color: #aaa;
}

#main-menu li a.active {
    /*background-color: #4CAF50;*/
    border-style: solid;
    border-width: 0px 3px 0px;
    border-color: black;
}

/* ============= */
/* ABOUT SECTION */
/* ============= */

#about {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

.about-text {
	width: 400px;
	text-align: left;
	padding-top: 30px;
}

/*.about-text p {
	font-size: 20px;
}*/

.about-photo {
	width: 300px;
}

.about-photo img {
	width: 100%;
}

/* =============== */
/* CONTACT SECTION */
/* =============== */

.centre-list {
	display: flex;
}

.centre-list ul {
	list-style-type: square;
	margin-top: 30px;
	margin: 30px auto 0;
}
.centre-list li {
/*	font-size: 20px;*/
	margin-top: 10px;
}

/* ====== */
/* FOOTER */
/* ====== */

footer p {
	font-size: 12px;
	text-align: center;
}